* {
  transition: 0.3s;
}
body {
  font-family: "Catamaran", sans-serif;
}
#hero {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
}
.cleaning {
  background-image: url("../img/cleaning-bg.jpg");
  background-position: center;
  background-size: cover;
}
.page {
  box-shadow: 2px 5px 9px red;
}

.Form2 {
  display: none;
  animation: appear 0.6s linear forwards;
}
.Form3 {
  display: none;
  animation: appear 0.6s linear forwards;
}
.progress {
  background: rgb(207, 10, 17);
  width: 0%;
  transition: all linear 0.5s;
}
.sidebar {
  transition: right 0.3s ease-in-out;
}
.sidebar.active {
  right: 0;
}
.swiper-wrapper {
  display: flex !important;
  justify-content: space-center !important;
  gap: 20px !important;
}
.swiper-slide {
  width: 300px !important;
}
/* Animations */
@keyframes appear {
  0% {
    opacity: 0;
    /* transform: translateX(15rem); */
  }

  100% {
    opacity: 1;
    /* transform: translateX(0rem); */
    -webkit-font-smoothing: antialiased;
  }
}
