* {
  transition: 0.3s;
}
body {
  font-family: "Catamaran", sans-serif;
}
#hero {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
}
.page {
  box-shadow: 2px 5px 9px red;
}
